@model IEnumerable<Unit_7___Forms.Models.CreateBookViewModel>

@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>List</h1>

<p>
    <a asp-action="AddBook">Add New Book</a>
</p>

@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Author)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Genre)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
               <td>
                    <div class="d-flex gap-2">
                            <a class="nav-link" asp-area="" asp-controller="Book" asp-action="DeleteBook" asp-route-id="@item.Id">Delete</a>
                            <a class="nav-link" asp-area="" asp-controller="Book" asp-action="UpdateBook" asp-route-id="@item.Id">Update</a>
                    </div>
                </td>
            </tr>            
        }
        </tbody>
    </table>
}
else
{
   <h4>No books my dude, sorry, make a book or something 🤷🏼</h4>
}